* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

.color1 {
    color: #02315E;
}

.color2 {
    color: #00457E;
}

.color3 {
    color: #2F70AF;
}

.color4 {
    color: #B9848C;
}

.color5 {
    color: #806491;
}

.font1 {
    font-family: "Roboto Condensed", sans-serif;
}

.font2 {
    font-family: "Ubuntu Sans Mono", monospace;
}

.font3 {
    font-family: "Rajdhani", sans-serif;
}

.font4 {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

#app {
    min-height: 100vh;
}

body {
    min-height: 100%;
    background-image: url(../images/logoBaseRectangular.png);
    background-repeat: no-repeat;
    background-position: center;
}

header {
    min-height: 15vh;
}

main {
    min-height: 70vh;
}

footer {
    min-height: 15vh;
}

/* btn */
.button-30 {
    padding: 12px 26px;
    color: #fff;
    background-image: linear-gradient(180deg, #0781FD 0%, #0346ED 100%);
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07), inset 0 1px 0 0px rgba(255, 255, 255, 0.15);
    transition: all 150ms ease-in-out;
}

.button-30:hover {
    filter: brightness(1.1);
}

.button-30:active {
    transform: scale(.95);
}